ckpts.tar
reconstructions
outputs*/
outputs/
ckpts*/
logs*/
ckpts/
ckpts
results/
data
data/
cache/
cache
results*
results*/
version/
*.ply
*.vol
*.mp4
*.pt
.ipynb_checkpoints
*.swp

__pycache__/
*.py[cod]
*$py.class

